<div class="result-block">
  <%= render 'layouts/messages' %>
</div>
<% if @stock %>
  <div class="card card-header result-block">
    <strong>symbol: </strong> <%= @stock.ticker %>
    <strong>company name: </strong> <%= @stock.name %>
    <strong>price: </strong> <%= @stock.last_price %>
  </div>
<% end %>